.home-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr min(100%, 1200px) 1fr;

    .home-container {
        margin-top: rem(80px);
        grid-column: 2;
        width: 100%;
        /* Adjust this value based on your header height */

        .content {
            width: 100%;

            .proficiencies-title {
                font-size: $font-size-title;

            }
        }


    }
}