.home-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr min(100%, 1200px) 1fr;

    .home-container {
        grid-column: 2;
        width: 100%;
        /* Adjust this value based on your header height */

        .content {
            width: 100%;

            .proficiencies-title {
                font-size: $font-size-title;
                font-size: 3.2rem;
                color: #2c3e50;
                margin-bottom: 2.5rem;
                text-align: center;
                font-weight: 700;
                letter-spacing: -1px;
                position: relative;

                @media (max-width: 768px) {
                    max-width: 90%; // Limit width on mobile
                    margin-left: auto;
                    margin-right: auto;
                }


            }
        }


    }
}