.my-projects-container {

    h1 {
        font-size: 3.2rem;
        margin-bottom: rem(40px);
        color: #2c3e50;
        text-align: center;
        font-weight: 700;
        letter-spacing: -1px;
        position: relative;

        @media (max-width: 768px) {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .projects-wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }

        .project-container {
            width: 450px;
            height: auto;
            margin-bottom: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            @media (max-width: 600px) {
                width: 90%;
                max-width: 450px;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
            }

            img {
                object-fit: cover;
                transition: all 0.3s ease-in-out;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(to bottom, rgba(52, 152, 219, 0.2), rgba(46, 204, 113, 0.2));
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }

                &:hover {
                    transform: scale(1.02);

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}