.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

// Define color variables
$main-title-desktop: #2c3e50; // Color for desktop

// Main title styling
.main-title {
    color: $main-title-desktop; // Default color for desktop

    @media (max-width: 768px) {
        background: linear-gradient(45deg, #2e40ff, #d2d1ff);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}



// ... existing code ...