.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.main-container {
    // background: #f2f9ff;
    background-color: #99B4FA;

}

// ... existing code ...