.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

// Define color variables
$main-title-desktop: #2c3e50; // Color for desktop
$main-title-mobile: #fff; // Color for mobile

// Main title styling
.main-title {
    color: $main-title-desktop; // Default color for desktop

    @media (max-width: 768px) {
        color: $main-title-mobile; // Color for mobile screens
    }
}


// ... existing code ...